*{
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
}

.head {
    text-align: center;
    margin-top: 20px;
}
button {
    width: 120px;
    height: 35px;
    float: left;
    background-color: sandybrown;
    margin: 30px 10px;
    border-radius: 5px;
    border: 1px solid saddlebrown;
    outline: none;
}

button:hover {
    box-shadow: 0 3px 5px black;
}

.chess-board {
    margin: 30px 70px;
    border: 1px solid black;
    float: right;
}

.cell-white {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: white;
}

.cell-black {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: saddlebrown;
}

.side-markup {
    width: 30px;
    height: 70px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.bottom-markup {
    width: 70px;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.angle {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

img {
    max-width: 65px;
    max-height: 65px;
}